.container {
  width: 90%;
  margin: 0 auto;
  padding: 2em;
  color: #cec8c8;
  font-family: "Libre Franklin", serif;
  display: flex;
  flex-direction: column;
  background-color: hsl(24, 14%, 15%);
  border-radius: 2rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 3em 0;
}

.contacts {
  background-color: #cec8c8;
  padding: 2em;
  border-radius: 2rem;
  color: #28221e;
}

.sectionHeader {
  margin-bottom: 1em;
}

.sectionHeader h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.contact p {
  font-size: 1rem;
}

@media (min-width: 600px) {
  .contact p {
    font-size: 1.25rem;
  }

  .sectionHeader h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .infos {
    /* flex-direction: row; */
    width: 100%;
  }

  .form {
    width: 80%;
  }

  .header h1 {
    font-size: 3rem;
  }

  .contact p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .infos {
    flex-direction: row;
  }

  .contact p {
    font-size: 1.5rem;
  }

  .contacts {
    width: 50%;
  }

  .form {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .contact p {
    font-size: 1.75rem;
  }

  .sectionHeader h2 {
    font-size: 2rem;
  }

  .form {
    width: 60%;
  }
}
