.container {
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  font-family: "Libre Franklin", serif;
  border-radius: 1rem;
}

.menuText {
  padding: 2em 0;
}

.menuText h1 {
  font-size: 1.5rem;
  text-align: end;
  margin-bottom: 1em;
  color: #cecbc8;
}

.buttons {
  display: flex;
  justify-content: end;
  width: 100%;
}

.menuText button {
  padding: 1em;
  font-size: 1rem;
  font-family: "Libre Franklin", serif;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 2em;
  background-color: transparent;
  color: #cecbc8;
  border: 2px solid #cecbc8;
  transition: 0.1s;
}

.menuText button:hover {
  background-color: hsl(30, 6%, 80%, 0.1);
}

.menuImage {
  display: flex;
}

.menuImage img {
  border-radius: 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .menuText {
    width: 60%;
    padding: 2em;
  }

  .menuText h1 {
    font-size: 2rem;
  }

  .menuImage {
    display: flex;
    align-items: center;
    width: 40%;
  }

  .menuImage img {
    width: 100%;
  }

  .menuText {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
  }

  .menuImage {
    display: flex;
  }

  .menuText button {
    font-size: 1.25rem;
  }
}
