.container {
  margin: 5em auto;
  background-color: #cecbc8;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Libre Franklin", serif;
  border-radius: 2rem;
}

.container h2 {
  font-size: 2.5rem;
  color: #28221e;
}

.sectionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionsContainer > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 50%; */
  padding: 3em 0;
}

.sectionHeader {
  background-color: #28221e;
  padding: 2em;
  margin-bottom: 3em;
  border-radius: 50%;
}

.infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  width: 90%;
}

.infos p {
  font-size: 1rem;
  text-align: center;
}

.infos a {
  /* color: blue; */
  text-decoration: none;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 768px) and (orientation: landscape) {
  .infos p {
    font-size: 1.5rem;
  }

  .container h2 {
    font-size: 3rem;
    color: #28221e;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .sectionsContainer {
    justify-content: space-evenly;
    flex-direction: row;
  }

  .sectionsContainer > * {
    width: 50%;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .infos {
    width: 80%;
  }
}
